 .u-section-1 {
  min-height: 553px;
}

.u-section-1 .u-image-1 {
  height: 460px;
  margin-top: 93px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 257px;
  margin: -357px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 579px;
  margin: 57px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -294px;
    margin-right: calc(((100% - 720px) / 2) + -12px);
    margin-bottom: 37px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 623px;
  }

  .u-section-1 .u-group-1 {
    width: 552px;
    min-height: 261px;
    margin: -339px auto 60px calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 71px;
    margin-right: 18px;
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 96px;
    margin-top: -230px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 397px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 26px 0 0 32px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 8px 28px 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 554px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 -15px 0 15px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 42px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 296px;
  }
}